body {
  background-color: #ffffff;
  height: 100vh;
  font-family: "Amiri", serif;
  text-transform: uppercase;
  margin: 0;
}

.container {
  background-color: #024731;
  width: 80%;
  text-align: center;
  margin: 100px;
  padding: 50px;
  border-top: 15px solid #024731;
}

h1 {
  margin-bottom: 25px;
  margin-top: 0;
  font-size: 60px;
  color: #dad7cd;
  font-weight: bolder;
  text-transform: uppercase;
}

form {
  padding: 50px;
  width: 60%;
  margin: auto;
}

.field {
  margin-bottom: 25px;
  width: 100%;
  display: grid;
  position: relative;
  
}

label {
  color: #344e41;
  height: 50px;
  font-size: xx-large;
  letter-spacing: 2px;
  width: 700px;
  font-weight: bolder;
  position: absolute;
  background-color: #ffffff;
  text-transform: uppercase;
  margin-left: 200px;

}
.input {
  height: 50px;
  outline: none;
  border: none;
  width: 700px;
  text-transform: uppercase;
  padding: 0;
  padding-left: 20%;
  box-sizing: border-box;
  justify-content: center;
  margin-left: 200px;

}
.field:hover label {
  width: 18%;
  background: #588157;
  color: #dad7cd;
  transition: all 0.5s ease-in-out;
  justify-content: center;

}

#outhman {
  height: 50px;
  width: 150px;
  margin-top: 20px;
  border-radius: 2px;
  border: none;
  background-color: #ffffff;
  font-size: large;
  color: #344e41;
  font-weight: bolder;
  font-family: "Amiri", serif;
  text-transform: uppercase;
  margin-left: 2em;
justify-content: center;
}
#outhman:hover {
  background-color: #588157;
  color: #dad7cd;
  transition: 0.3s;
}



.topnav {
  background-color: rgba(51, 51, 51, 0);
  overflow: hidden;

}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #38482B;
  color: white;
}