.p{

font-family: 'Roboto', sans-serif;

color: green;
    
}

.menu{

font-size: x-large;


    font-family: 'Source Sans Pro', sans-serif


}


.one{

font-size: larger;

font-family: 'Roboto', sans-serif;

color: green;

}

.p1{


    font-family: 'Roboto', sans-serif;

font-size: medium;

}


.two{
    font-family: 'Roboto', sans-serif;


   color: green;


    font-size: medium;
}

.menu1{


    font-size: larger;

    font-family: 'Source Sans Pro', sans-serif

    


}
